#content {
  margin-left: auto;
  margin-right: auto;
  width: 625px;
}

#header {
    padding: 30px;
    background: #00CED1;
    text-align: center;
}

#links {
    padding: 20px;
    display: inline-block;
}

footer {
  width: 100%;
  position:fixed;
  bottom:0;
  left:0;
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

  leftSide{
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

rightSide {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

